form{
    margin-top: 200px;
}
.registration-aria{
   border: 1px solid gray;
   padding: 20px;
   border-radius: 5px;
   margin: 0 auto;
   /* width: 50%; */

}
.input-value{
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid black;
}
.Registration-btn{
    width: 100%;
    padding: 12px;
    color: wheat;
}
::-webkit-input-placeholder{
    color: black;
    font-weight: 300;
}